.git
.venv
__pycache__
**/__pycache__
*.py[cod]
*.egg-info
.ruff_cache
.pytest_cache
.mypy_cache
.ipynb_checkpoints

build
dist
htmlcov
.coverage*

logs
*logs*
results
output
local_out
tests_data

minerl/MCP-Reborn
minerl/Malmo/Minecraft/.gradle
minerl/Malmo/Minecraft/build
minerl/Malmo/Minecraft/bin
minerl/Malmo/Minecraft/.minecraft
minerl/Malmo/Minecraft/.minecraftserver
minerl/Malmo/Minecraft/run/saves

*.mcpr
*.npy
*.log
*.log*
*.sif
